*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: flex;
}

aside {
  height: 100vh;
  width: 21vw;
  background-color: rgb(247, 249, 252);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  p {
    font-weight: 600;
    font-size: 34px;
    text-decoration: none;
    color: rgb(19, 26, 37);
    padding-bottom: 10px;
  }
  ul {
    list-style: none;
    color: rgb(0, 119, 255);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
    li {
      padding-bottom: 20px;
      cursor: pointer;
    }
  }
}

aside + div {
  padding: 40px;
}
